hashOn.header with X-Session (hyphenated header name) does not work as expected

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

We are using Kong with the following KongUpstreamPolicy:
```
apiVersion: configuration.konghq.com/v1beta1
kind: KongUpstreamPolicy
metadata:
  name: sticky-session-on-x-session-header
spec:
  algorithm: consistent-hashing
  hashOn:
    header: X-Session
```
Despite sending different values for the X-Session header (e.g., randomly generated UUIDs), Kong consistently routes traffic to the same upstream target, as if the hash was always the same.

### Expected Behavior

The consistent-hashing algorithm should correctly hash on any valid HTTP header name, including standard hyphenated ones such as X-Session and the traffic should be loadbalanced to all endpoints.

According to RFC 7230 section 3.2, header names like X-Session are completely valid.
This might indicate a parsing or normalization bug inside Kong’s upstream routing logic. 

### Steps To Reproduce

```markdown
1. Follow Kong Guide customizing-load-balancing to deploy Kong and demo pods:
https://docs.konghq.com/kubernetes-ingress-controller/latest/guides/requests/customizing-load-balancing/
2. Use ingress instead of GatewayAPI
3. Create KongUpstreamPolicy
4. Get Ingress if needed

 export PROXY_IP=$(kubectl get svc --namespace kong kong-gateway-proxy -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
 echo $PROXY_IP

5. Test with hyphenated name

for i in {1..100}; do
        session_id=$(uuidgen)
  echo "X-Session: $session_id"
  curl -s -H "X-Session: $session_id" $PROXY_IP &
  echo
done

All traffic will be routed to the same pods

6. Remove "-" from header

spec:
  algorithm: consistent-hashing
  hashOn:
    header: XSession


7. Retry the curl without (-)

for i in {1..100}; do
        session_id=$(uuidgen)
  echo "XSession: $session_id"
  curl -s -H "XSession: $session_id" $PROXY_IP &
  echo
done

The traffic will be loadbalancer across endpoints as normally
```

### Kong Ingress Controller version

```shell
3.4.4
```

### Kubernetes version

```shell
1.25.16
```

### Anything else?

_No response_

@WatakOps We tried to dump the generated configuration and found that `hash_on_header` is correctly configured to `X-Session` in the generated Kong `upstream`. So I think the problem is more likely to happen on the gateway side.

Can you dump the Kong upstreams on the Kong gateway side for confirmation?
You can first forward the admin API listening port of the Kong gateway pod by port forwarding:
```
kubectl port-forward pods/kong-gateway-***** 8444 --namespace kong # use the namespace where Kong pod is in 
```
Then call 
```
curl -k https://127.0.0.1:8444/upstreams | jq .data
```

I reproduced without KIC and replied on the issue in the Kong repo: https://github.com/Kong/kong/issues/14447#issuecomment-2883157886.

This is caused by Kong and not related to KIC. Fix PR: https://github.com/Kong/kong/pull/14118